# NASA App - Variables de Entorno
# Copia este archivo a .env y completa con tus valores

# API NASA
EXPO_PUBLIC_NASA_API_KEY=tu_clave_api_aqui
EXPO_PUBLIC_NASA_BASE_URL=https://api.nasa.gov
EXPO_PUBLIC_IMAGES_BASE_URL=https://images-assets.nasa.gov

# API Timeouts
EXPO_PUBLIC_API_TIMEOUT=10000

# Ambiente
EXPO_PUBLIC_ENV=development
